<h1>Hi World 🤙</h1>

<div class="card yellow">
  <p>
    Welcome to Readers Corner. This is a simple microblogging application built with Angular 8 and Supabase.
  </p>
</div>

<div class="card blue text-center">
  <h3 class="title">
    Now Readers Corner is under development 🏗️
  </h3>

  <span>
    Subscribe to our newsletter to get notified when it's ready. 👇
  </span>

  <form class="form">
    <input type="email" placeholder="Your email address" />
    <button type="submit">Subscribe</button>
  </form>
</div>