nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav a {
    padding: 12px;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.439);
    border-radius: 8px;
}

nav #avatar {
    width: 50px;
    border-radius: 100px;
    border: 2px #009fff solid;
}

nav #avatar:hover {
    opacity: .8;
}