#post-entry {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 22px 5px;
}

h1 {
    font-size: 3.5em;
}

#date {
    margin-top: 10px;
    opacity: 0.5;
}

#post-content {
    margin: 35px auto;
}