/* Estilos para el formulario */
#form-new-post {
    width: 100%;
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px;
    background-color: #f2f2f214; /* Color de fondo */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  /* Estilos para los campos de entrada de texto */
  #form-new-post #title,
  #form-new-post textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #form-new-post #title {
    font-size: 2em;
  }
  
  /* Estilos para el botón de envío */
  #form-new-post input[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Cambiar el color del botón cuando se pasa el mouse sobre él */
  #form-new-post input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos adicionales para textarea (campo de texto grande) si es necesario */
  #form-new-post textarea {
    resize: vertical;
    height: 500px;
  }
  